/* Utilidades y helpers adicionales */
.paddind_bottom_0 { padding-bottom: 0 !important; }
.full { float: left; width: 100%; }
.layout_padding { padding-top: 90px; padding-bottom: 0px; }
.padding_0 { padding: 0px; }
.padding_10 { padding-left: 10px; }
.margin_top90 { margin-top: 90px; }
